<!-- Main layout page -->

<html>
    <head>
    <meta charset="utf-8">
    <title>Shit at names (DONT KEEP THIS)</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
  </head>

    <header>
      <h1 class="site-title">CS Project CS361</h1>
    </header>

  <body> 
      <header>

      </header>

      <div id="content">
        <!-- calls the page the user requests, ie /index -->
          {{{body}}}

      </div>

  </body>

</html>