<h2>
    Weather aggregator
</h2>

<button id="test-geolocation"> Test GeoLoc </button>

<p id="demo">  </p>

<input type="search" placeholder="Search.." name="InputLocation" id= "InputLocation" />

<button id="cookie-id">PRESS THIS</button>
<ul id="historylist"></ul>
<canvas id="myCanvas" style="border:1px solid #000000" width="500" height="300"/>