// Fronpage html

<h2>
    Weather aggregator
</h2>

<button id="test-geolocation"> Test GeoLoc </button>

<p id="demo"> t </p>

<input type="search" placeholder="Search.." name="InputLocation" id= "InputLocation" />

<button id="cookie-id">PRESS THIS</button>
<ul id="historylist"></ul>

<script>

<canvas id="myCanvas" width="500" height="300">
  Your browser does not support HTML5 Canvas
</canvas>

    /*
    var btn = document.getElementById("test-geolocation");

    btn.addEventListener("click", function(){
          console.log("I was clicked");
// check for Geolocation support
if (navigator.geolocation) {
    console.log("Geolocation is supported!");
  }
  else {
    console.log("Geolocation is not supported for this Browser/OS.");
  }

    });
*/
</script>>
